@font-face {
    font-family: 'NYE Font';
    src: url('../font/Shentox-Bold.ttf') format('truetype');
}

#countdown {
    text-align: center;
    margin-top: 20px;
}

#timer {
    font-family: 'NYE Font', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#timer2 {
    font-family: 'NYE Font', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.botoncenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonNYE {
    background-color: #3498db;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 20px;
}

.botonNYE:hover {
    background-color: #2980b9;
}